<!-- Validation failure messages -->
<% if @hours_of_operation.errors.any? %>
  <% @hours_of_operation.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Hours Of Operation</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_hours_of_operation" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for garage_id -->
      <div class="form-group">
        <label for="garage_id" class="control-label">
        <h3><%=current_user.garage.name%></h3>
        </label>
      </div>
      <input type="hidden" id="garage_id" name="garage_id" placeholder="Garage" class="form-control" value="<%= current_user.garage.id %>">

      <!-- Label and input for day_of_the_week -->
      <div class="form-group">
        <label for="day_of_the_week" class="control-label">
          Day of the week
        </label>

        <input type="text" id="day_of_the_week" name="day_of_the_week" placeholder="example Monday" class="form-control" value="<%= @hours_of_operation.day_of_the_week %>">
      </div>
      <!-- Label and input for open_time -->
      <div class="form-group">
        <label for="open_time" class="control-label">
          Open time (am)
        </label>

        <input type="text" id="open_time" name="open_time" placeholder="example 9 or 930" class="form-control" value="<%= @hours_of_operation.open_time %>">
      </div>

          <!-- Label and input for close_time -->
      <div class="form-group">
        <label for="close_time" class="control-label">
          Close time (pm)
        </label>

        <input type="text" id="close_time" name="close_time" placeholder="example 4 or 430" class="form-control" value="<%= @hours_of_operation.close_time %>">
      </div>

      <button class="btn btn-success">
        Create Hours Of Operation
      </button>
      or
      <a href="/hours_of_operations">Cancel</a>
    </form>
  </div>
</div>
