<div class="page-header">
  <h1>
    Jobs
      <%if current_user.role == "Customer"%>
    <a href="/jobs/new" class="btn btn-lg btn-success">New Job</a>
    <%end%>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Appointment Date</th>
        <th>Vehicle</th>
        <th>Jobs</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>

      <%if current_user.role == "Customer"
      @jobs.each do |job| %>
      <tr>
        <td><%= Timeslot.where(:job_id=>job.id).first.timeslot.in_time_zone("Central Time (US & Canada)").strftime("%b %e %l %p") %></td>
        <td><%= job.vehicle.make%></td>
        <td><%JobList.where(:job_id=>job.id).each do|job|%>
          <%=JobType.find(job.job_type_id).name%>&ensp;
          <%end%></td>
        <%if(job.completed)%>
        <td><a href="/feeds?job_id=<%=job.id%>">Completed</a></td>
        <%elsif(job.started)%>
      <td><a href="/feeds?job_id=<%=job.id%>">Started</a></td>
        <%else%>
        <td>Scheduled</td>
        <%end%>
        <td>
        <!--  <a href="/jobs/<%= job.id %>" class="btn btn-primary">Show</a>
          <a href="/jobs/<%= job.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_job/<%= job.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        -->
        </td>
      </tr>
      <% end else   @jobs.each do |job| %>
      <tr>
        <td><%= Timeslot.where(:job_id=>job.id).first.timeslot.in_time_zone("Central Time (US & Canada)").strftime("%b %e %l %p") %></td>
        <td><%= job.vehicle.make%></td>
        <td><%JobList.where(:job_id=>job.id).each do|job|%>
          <%=JobType.find(job.job_type_id).name%>&ensp;
          <%end%></td>
        <%if(job.completed)%>
      <td><a href="/feeds?job_id=<%=job.id%>">Completed</a></td>
        <%elsif(job.started)%>
        <td><a href="/feeds?job_id=<%=job.id%>">Started</a></td>
        <%else%>
        <td>Scheduled</td>
        <%end%>
        <td>
          <%if !job.completed%>
          <a href="/jobs/start/<%= job.id %>" class="btn btn-primary">Start</a>
<%end%>
        </td>
      </tr>
      <% end end %>
    </table>
  </div>
</div>
