<div class="page-header">
  <h1>
    Job lists
    <a href="/job_lists/new" class="btn btn-lg btn-success">New Job list</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Job type</th>
        <th>Job</th>
        <th>Actions</th>
      </tr>

      <% @job_lists.each do |job_list| %>
      <tr>
        <td><%= job_list.job_type_id %></td>
        <td><%= job_list.job_id %></td>
        <td>
          <a href="/job_lists/<%= job_list.id %>" class="btn btn-primary">Show</a>
          <a href="/job_lists/<%= job_list.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_job_list/<%= job_list.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
